<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{url_for('static',filename="favicon.ico")}}">

    <title>短网址生成服务</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename="css/bootstrap.min.css")}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static',filename="cover.css")}}" rel="stylesheet">

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">ShortUrl</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="{{url_for('index')}}">Home</a></li>
				  <li><a href="{{url_for('custom')}}">Customization</a></li>
                  <li><a href="{{url_for('api')}}">API</a></li>
                  <li class="active"><a href="{{url_for('contact')}}">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Contact Me</h1>
            <p class="lead">This is demo produced by YunLambert</p>
			<p class="lead">My Github:<a href="https://github.com/YunLambert">YunLambert</a></p>

          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://github.com/YunLambert">@YunLambert</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
    <script src="{{url_for('static',filename="jquery.min.js")}}"></script>
    <script src="{{url_for('static',filename="js/bootstrap.min.js")}}"></script>
  </body>
</html>
